/****** Default Styles *****/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/********* Font style********/
.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Works Sans";
}

/********* Hero Section ********/
.hero {
  background: url("./images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  margin-bottom: 107px;
}

.hero::before {
  content: "";
  position: absolute;
  height: 208px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(83.65%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.65%);
  bottom: -20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 90px;
  padding-top: 65px;
}

.navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_logo_text {
  font-family: "Inter";
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 21px;
  font-size: 32px;
  line-height: 39px;
}

.navbar_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_links ul li {
  margin-right: 68px;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.navbar_links ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
}

.navbar_links_link {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar_checkout {
  position: relative;
}

.navbar_checkout img {
  width: 32px;
  height: 37px;
}

.navbar_checkout_counter {
  position: absolute;
  top: 3px;
  right: -7px;
  width: 16px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  border-radius: 50%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 800;
  text-align: center;
}

.hero-title {
  max-width: 1110px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 82px;
  line-height: 96px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.hero-text {
  max-width: 583px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.hero-union {
  width: 205px;
  height: 103px;
  border-radius: 24px;
  background: rgba(255, 253, 253, 0.2);
  border: 1px solid #FFFFFF;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: absolute;
  right: 40px;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 20px;
}

.hero_union_price {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 12px;
}

.hero_union_description {
  font-size: 16px;
  line-height: 19px;
}

/********  Service Section ****/
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 152px;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-text {
  margin-left: 24px;
}

.service_text-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #081323;
  margin-bottom: 12px;
}

.service_text-description {
  color: #828282;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

/********  Best Seller Section ****/
.best_seller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin-bottom: 182px;
}

.best_seller-text {
  max-width: 363px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.best_seller_text-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #081323;
  margin-bottom: 42px;
}

.best_seller_text-description {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.best_seller_text-description img {
  width: 24px;
  height: 21px;
}

.best_seller-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: end;
  gap: 32px;
  position: relative;
}

.best_seller_items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
          filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
}

.best_seller_items-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 511px;
  background: #C1D0E4;
  z-index: -1;
  border-radius: 50px;
}

.best_seller_items-item-img {
  margin-bottom: 42px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.best_seller_items-item-info {
  height: 260.73px;
  border-radius: 50px;
  padding: 39px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.best_seller_item_title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 9px;
}

.best_seller_item_rating {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.best_seller_item_rating img {
  width: 19px;
  height: 19px;
}

.best_seller_item_price {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #081323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best_seller_item_btn img {
  width: 59px;
  height: 59px;
}

/********* Referance section **********/
.referance {
  margin-bottom: 182px;
}

.referance_title {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #081323;
  text-align: center;
  margin-bottom: 27px;
}

.referance_description {
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  text-align: center;
  margin-bottom: 82px;
}

.referance_gallery {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.referance_gallery img {
  max-width: 100%;
}

.img-background {
  margin-bottom: 32px;
  position: relative;
}

.img-background:hover {
  cursor: pointer;
}

.img-background:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.img-background:hover::after {
  position: absolute;
  content: "living room";
  top: 45%;
  left: 28%;
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  color: #fff;
}

/********* Footer ***********/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
  color: #fff;
  padding: 130px 100px 20px;
}

.footer_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  margin-bottom: 52px;
}

.footer_navigation_newsletter-title {
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
}

.footer_navigation_newsletter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 463px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  background: #081323;
}

.footer_navigation_newsletter-input input {
  height: 71px;
  background: #081323;
  border-radius: 50px;
  margin-right: auto;
  font-size: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  line-height: 23px;
  text-indent: 30px;
}

.subscribe_btn {
  margin-right: 12px;
  display: block;
  padding: 12px 24px;
  background: -webkit-gradient(linear, left top, right top, from(#2AF598), to(#009EFD));
  background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
  border-radius: 50px;
  width: 145px;
  height: 47px;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
}

.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 89px;
}

.footer_items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_items_item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 34px;
}

.footer_items_list li {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 17px;
}

hr {
  border: 1px solid #FFFFFF;
  margin-bottom: 52px;
}

.footer_rigths {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */