/****** Default Styles *****/

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    //overflow-x: hidden; //Avoid horizontal scroll
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/********* Font style********/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap');


.wrapper {
    margin:0 auto;
    display: flex;
    
    max-width: 1920px;
    
    
    
}

.container{
    width: 1920px;
    margin:0 auto;
    font-family: "Works Sans";
   
   
    
}


/********* Hero Section ********/

header {
    background: url("../images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    margin-bottom: 107px;
    &::before{
        content: "";
        position: absolute;
        height: 208px;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.65%);
        bottom: -20px;
    }
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 90px;
    padding-top: 65px;

}
.navbar__logo {
    display: flex;
    align-items: center;
   

}
.navbar-logo__text {
font-family: "Inter";
font-weight: 700;
color: #FFFFFF;
margin-left: 21px;
font-size: 32px;
line-height: 39px;
}
.navbar__links {
        display: flex;
        
        a{
            margin-right: 68px;
            font-size: 24px;
            line-height: 28px;
            color: #fff;
            &:hover{
                background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                    cursor: pointer;
            }
        }
    
    
}
.navbar_links_link {
    align-self: flex-end;
}
.navbar__checkout {
    position: relative;
    img{
       
        width: 32px;
        height: 37px;
        
    }
    
}
.navbar-checkout__counter {
    position: absolute;
    top: 3px;   
    right: -7px;
    width: 16px;
    height: 16px;
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border-radius: 50%;
    font-size: 14px;
    line-height: 16px;
    font-weight: 800;
    text-align: center;
}

.center{
    flex-grow: 1;
    
}
.hero__title {
    max-width: 1110px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    color: #fff;
    margin-bottom: 24px;
   
    
}
.hero__text {
    max-width: 583px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #fff;
   
    
   
   
}

.hero__union {
    width: 205px;
    height: 103px;
    border-radius: 24px;
    background: rgba(255, 253, 253, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(4px);
    position: absolute;
    right: 40px;
    top: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 20px;

    
    
    

}
.hero-union__price {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
}
.hero-union__description {
    font-size: 16px;
    line-height: 19px;
}


.hero__dot-outer {
    
    
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    position: relative;
    display: inline-block;
    position: absolute;
    backdrop-filter: blur(4px);
}
.hero__dot-inner {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top:50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.hero__dot-top{
    top: 35%;
    left: 6.5%;
}
.hero__dot-bottom{
    top:58%;
    left:11%;

}

/********  Service Section ****/
.service {
    display: flex;
    justify-content: space-around;
    margin-bottom: 152px;
}
.service__item {
    display: flex;
    align-items: center;

}
.service_logo {
    display: block;

   
}
.service-text {
    margin-left: 24px;

}
.service-text__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #081323;
    margin-bottom: 12px;

}
.service-text__description {
    color: #828282;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

/********  Best Seller Section ****/

.best-seller {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 182px;
}
.best-seller__text {
    max-width: 363px;
    align-self: center;
}
.best-seller-text__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #081323;
    margin-bottom: 42px;
}
.best-seller-text__description {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
    gap: 20px;
    display: flex;
    align-items: center;
    

         img{
            width: 24px;
            height: 21px;
            
            }
}

.best-seller__row {
    display: flex;
    justify-content: space-between;
    align-self: end;
    gap: 32px;
    position: relative;
}
.best-seller__item {
    
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 1;
    filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
    

    &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        height: 511px;
        background:#C1D0E4; ;
        z-index: -1;
        border-radius: 50px;
        

    }
    

}
.best-seller-item__img{
    margin-bottom:42px ;
    flex-grow: 1;

}


.best-seller-item-info{
    height: 260.73px;
    border-radius: 50px ;
    padding: 39px;
    background-color: #fff ;
    display: flex;
    flex-direction: column;

}

.best-seller-item__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 9px;
    
}
.best-seller-item__rating {
    flex-grow: 1;
    display: flex;
    gap:5px;

    img{
        width: 19px;
        height: 19px;
    }
    
    
}
.best-seller-item__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #081323;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.best-seller-item__btn {
    background-color: #fff;
    img{
        width: 59px;
        height: 59px;
    }
}


 /********* Referance section **********/
.referance {
    margin-bottom: 182px;
}
.referance__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #081323;
    text-align: center;
    margin-bottom: 27px;
}
.referance__description {
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 82px;
}
.referance__gallery {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 32px;

    img{
        max-width: 100%;
    }
    
}

.referance_gallery-img {
}
.img-background {
    margin-bottom: 32px;
    position: relative;

    
    &:hover{
        cursor: pointer;
        &::before{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 50px;
            font-weight: 600;
            font-size: 64px;
            line-height: 75px;
            color: #fff;
            font-family: "Work Sans";
        }
}

}

/****** Care Section ********/
.care {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 182px 10px 210px;
    
}
.care__container {
    
    

    img{
        max-width: 100%;
        //margin-left: 240px;
        
    }
}
.care__title {
max-width: 400px;
font-weight: 500;
font-size: 64px;
line-height: 75px;
color: #081323;
margin-bottom: 28px;

}
.care__description {
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #4F4F4F;
margin-bottom: 82px;
}
.care__row {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    &:last-child{
        margin-bottom: 0;
    }


    img{
        width: 68px;
        height: 68px;
        margin-right: 25px;

    }
}
.row-care__text {

}
.row-care__title {
font-weight: 500;
font-size: 32px;
line-height: 38px;
color: #000000;
margin-bottom: 8px;
}
.row-care__description {
 font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #4F4F4F;
}



/********* Footer ***********/
footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);
    color: #fff;
    padding: 130px 100px 20px ;
}
.footer__navigation {
    display: flex;
    gap: 120px;
    margin-bottom: 52px;
}

.footer-navigation__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}
.footer-navigation__input {
    display: flex;
    align-items: center;
    width: 463px;
    border: 1px solid #FFFFFF;
    
    border-radius: 50px;
    //background: rgba(255, 255, 255, 0.2);
    background: #081323;
    
    input{
       height: 71px;
       background: inherit;
       border-radius: 50px;
       margin-right: auto;
       font-size: 20px;
       flex-grow: 2;
       line-height: 23px;
       text-indent: 30px;
       color: #fff;
    }
}
.subscribe-btn {
    margin-right: 12px;
    display: block;
    padding: 12px 24px;
    background: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);
    border-radius: 50px;  
    width: 145px;
    height: 47px;  
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    
}
.footer__row {
    display: flex;
    gap: 89px;
}
.footer__item {
    display: flex;
    flex-direction: column;
}
.footer-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 34px;
    
}
.footer-item__list {

    li{
        
        margin-bottom: 17px;
        
    }
    a{
        font-weight: 500;
        font-size: 16px;
        color: #fff;
    }
}
hr{
    border: 1px solid #FFFFFF;
    margin-bottom: 52px;
}
.footer__rigths {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}


